/* ! Base Style */
/* *{
  box-sizing: border-box;
} */

body{font-family: "TT Lakes Regular", sans-serif; font-size: 16px;}
a{text-decoration: none;}


/* h1, h2, h3, h4, h5{color: #000; padding-bottom: 30px;} */

p{line-height: 28px; color: #666; font-weight: 300;}

.menu-text{font-family: "Teko", sans-serif; font-size: 25px; text-transform: uppercase; color: lightgrey;}
.big-text{font-size: 70px; font-weight: 900;}
.med-text{font-size: 40px;}
.sublogo-text{font-size: 25px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}
.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold;}
.button-text{text-transform: uppercase; font-size: 20px;}

.button{width: 230px; padding: 18px 20px; background-color: #da292a; color: #fff; display: inline-block; border-radius: 4px; text-align: center;}

@media (max-width: 768px) {
  .big-text{font-size: 40px; font-weight: 900;}
}

/* ! Header */

.header{
  z-index: 10;
  margin: 0;
  width: 100%;
  background-color: #000;
  position: fixed; /*Posizionamento che mi lascia la cosa fissa dov'è anche dopo che scorro*/
  top: 0;
  /* left: 50%; */
  /* traslo del 50% della sua larghezza indietro */
  /* transform: translateX(-50%); */
  padding: 20px 15px;
  display: flex;
}


.logo-menu{
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 0 20px 0 10px;
}

.logo-menu img{height: 55px;}

.menu{width: 100%; z-index: 0;padding: 0 10px;}
/* .menu a{display: inline-block;}
.menu a li{display: block; padding: 15px 8px;}
.menu a img{height: 15px;} */

.menu li{display: inline-block;}
.menu li a{display: block; padding: 15px 8px; position: relative;}
.menu a img{height: 15px;}

.hamburger{display: none;}


/* ! Tendina */


.tendina{
  position: absolute;
  /* top: 20px; */
  /* transform: translateY(45px); */
  /* margin-top: 50px; */
  padding-top: 40px;
  max-height: 0px; 

  width: auto;
  /* border: 1px solid red; */
  display: grid;
  overflow: hidden; 
  /* nasconde le cose che vanno all'esterno del contenitore */
  transition: all 0.4s ease-in-out;
  
}

/* .menu a ul li{
  display: none;
} */

.menu a:hover .tendina{
  max-height: 300px;
  transition: all 0.4s ease;
}

.menu a:hover ul li{
  height: 50px;
  display: block;
  /* transition: all 0.4s ease-in-out; */
}
.menu ul li{
  padding: 10px 5px;
  height: 0;
  background-color: black;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}








/* ! Cover */
.cover{
  position: relative;
  border-bottom: 10px; 
  overflow: hidden;
}


.cover__logo{
  z-index: 2;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30%;

  /* align-items: center; */
}

/* Modo un po' sbagliato per mettere il velino nero */
/* .cover__background{
  z-index: 1;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 100%, rgba(0,0,0,.5) 100%);
  /* border: 1px solid red;
  min-width: 100%;
  min-height: 100%;
}  */

.cover:after{
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0; left: 0;
  background: #000;
  opacity: .5;
}

.video-class{
  z-index: 0;
  padding: 95px 0 0 0;
  min-width: 100%;
  height: auto;
  position: relative;
  bottom: 0;
  left: 0;
}

.cover__content{
  z-index: 2;
  position: absolute;
  bottom: 28%;
  left: 50%;
  transform: translate(-50%, -20%);
}

/* .sl-1 img{
  width: 100%;
} */

/* .line-menu{
  position: absolute;
  bottom: 0; left: 0; height: 8px; width: 30px;
  background: #000;
}

.active{color: red}

.bg-grey{background: #eee;} */

































/* ! Helpers */
/* classe che viene utilizzata come jolly in varie parti del design che ti da un attributo semplice */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}
.tw{color:#fff}



/* Va a resettare il padding degli elementi applicando il padding degli elementi all'interno degli elementi
e non all'esterno, per evitare sovrapposizioni */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}